<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>マンダラート機能</title>
</head>
<body>

<form action="/renew/cell/<%= @cell.id %>" method="post">
    <p>11：<input type="text" name="body11" value="<%= @cell.body11 %>"></p>
	<p>12：<input type="text" name="body12" value="<%= @cell.body12 %>"></p>
	<p>13：<input type="text" name="body13" value="<%= @cell.body13 %>"></p>
	<p>14：<input type="text" name="body14" value="<%= @cell.body14 %>"></p>
	<p>15：<input type="text" name="body15" value="<%= @cell.body15 %>"></p>
	<p>16：<input type="text" name="body16" value="<%= @cell.body16 %>"></p>
	<p>17：<input type="text" name="body17" value="<%= @cell.body17 %>"></p>
	<p>18：<input type="text" name="body18" value="<%= @cell.body18 %>"></p>
	<p>19：<input type="text" name="body19" value="<%= @cell.body19 %>"></p>
	<p>21：<input type="text" name="body21" value="<%= @cell.body21 %>"></p>
	<p>22：<input type="text" name="body22" value="<%= @cell.body22 %>"></p>
	<p>23：<input type="text" name="body23" value="<%= @cell.body23 %>"></p>
	<p>24：<input type="text" name="body24" value="<%= @cell.body24 %>"></p>
	<p>25：<input type="text" name="body25" value="<%= @cell.body25 %>"></p>
	<p>26：<input type="text" name="body26" value="<%= @cell.body26 %>"></p>
	<p>27：<input type="text" name="body27" value="<%= @cell.body27 %>"></p>
	<p>28：<input type="text" name="body28" value="<%= @cell.body28 %>"></p>
	<p>29：<input type="text" name="body29" value="<%= @cell.body29 %>"></p>
	<p>31：<input type="text" name="body31" value="<%= @cell.body31 %>"></p>
	<p>32：<input type="text" name="body32" value="<%= @cell.body32 %>"></p>
	<p>33：<input type="text" name="body33" value="<%= @cell.body33 %>"></p>
	<p>34：<input type="text" name="body34" value="<%= @cell.body34 %>"></p>
	<p>35：<input type="text" name="body35" value="<%= @cell.body35 %>"></p>
	<p>36：<input type="text" name="body36" value="<%= @cell.body36 %>"></p>
	<p>37：<input type="text" name="body37" value="<%= @cell.body37 %>"></p>
	<p>38：<input type="text" name="body38" value="<%= @cell.body38 %>"></p>
	<p>39：<input type="text" name="body39" value="<%= @cell.body39 %>"></p>
	<p>41：<input type="text" name="body41" value="<%= @cell.body41 %>"></p>
	<p>42：<input type="text" name="body42" value="<%= @cell.body42 %>"></p>
	<p>43：<input type="text" name="body43" value="<%= @cell.body43 %>"></p>
	<p>44：<input type="text" name="body44" value="<%= @cell.body44 %>"></p>
	<p>45：<input type="text" name="body45" value="<%= @cell.body45 %>"></p>
	<p>46：<input type="text" name="body46" value="<%= @cell.body46 %>"></p>
	<p>47：<input type="text" name="body47" value="<%= @cell.body47 %>"></p>
	<p>48：<input type="text" name="body48" value="<%= @cell.body48 %>"></p>
	<p>49：<input type="text" name="body49" value="<%= @cell.body49 %>"></p>
	<p>51：<input type="text" name="body51" value="<%= @cell.body51 %>"></p>
	<p>52：<input type="text" name="body52" value="<%= @cell.body52 %>"></p>
	<p>53：<input type="text" name="body53" value="<%= @cell.body53 %>"></p>
	<p>54：<input type="text" name="body54" value="<%= @cell.body54 %>"></p>
	<p>55：<input type="text" name="body55" value="<%= @cell.body55 %>"></p>
	<p>56：<input type="text" name="body56" value="<%= @cell.body56 %>"></p>
	<p>57：<input type="text" name="body57" value="<%= @cell.body57 %>"></p>
	<p>58：<input type="text" name="body58" value="<%= @cell.body58 %>"></p>
	<p>59：<input type="text" name="body59" value="<%= @cell.body59 %>"></p>
	<p>61：<input type="text" name="body61" value="<%= @cell.body61 %>"></p>
	<p>62：<input type="text" name="body62" value="<%= @cell.body62 %>"></p>
	<p>63：<input type="text" name="body63" value="<%= @cell.body63 %>"></p>
	<p>64：<input type="text" name="body64" value="<%= @cell.body64 %>"></p>
	<p>65：<input type="text" name="body65" value="<%= @cell.body65 %>"></p>
	<p>66：<input type="text" name="body66" value="<%= @cell.body66 %>"></p>
	<p>67：<input type="text" name="body67" value="<%= @cell.body67 %>"></p>
	<p>68：<input type="text" name="body68" value="<%= @cell.body68 %>"></p>
	<p>69：<input type="text" name="body69" value="<%= @cell.body69 %>"></p>
	<p>71：<input type="text" name="body71" value="<%= @cell.body71 %>"></p>
	<p>72：<input type="text" name="body72" value="<%= @cell.body72 %>"></p>
	<p>73：<input type="text" name="body73" value="<%= @cell.body73 %>"></p>
	<p>74：<input type="text" name="body74" value="<%= @cell.body74 %>"></p>
	<p>75：<input type="text" name="body75" value="<%= @cell.body75 %>"></p>
	<p>76：<input type="text" name="body76" value="<%= @cell.body76 %>"></p>
	<p>77：<input type="text" name="body77" value="<%= @cell.body77 %>"></p>
	<p>78：<input type="text" name="body78" value="<%= @cell.body78 %>"></p>
	<p>79：<input type="text" name="body79" value="<%= @cell.body79 %>"></p>
	<p>81：<input type="text" name="body81" value="<%= @cell.body81 %>"></p>
	<p>82：<input type="text" name="body82" value="<%= @cell.body82 %>"></p>
	<p>83：<input type="text" name="body83" value="<%= @cell.body83 %>"></p>
	<p>84：<input type="text" name="body84" value="<%= @cell.body84 %>"></p>
	<p>85：<input type="text" name="body85" value="<%= @cell.body85 %>"></p>
	<p>86：<input type="text" name="body86" value="<%= @cell.body86 %>"></p>
	<p>87：<input type="text" name="body87" value="<%= @cell.body87 %>"></p>
	<p>88：<input type="text" name="body88" value="<%= @cell.body88 %>"></p>
	<p>89：<input type="text" name="body89" value="<%= @cell.body89 %>"></p>
	<p>91：<input type="text" name="body91" value="<%= @cell.body91 %>"></p>
	<p>92：<input type="text" name="body92" value="<%= @cell.body92 %>"></p>
	<p>93：<input type="text" name="body93" value="<%= @cell.body93 %>"></p>
	<p>94：<input type="text" name="body94" value="<%= @cell.body94 %>"></p>
	<p>95：<input type="text" name="body95" value="<%= @cell.body95 %>"></p>
	<p>96：<input type="text" name="body96" value="<%= @cell.body96 %>"></p>
	<p>97：<input type="text" name="body97" value="<%= @cell.body97 %>"></p>
	<p>98：<input type="text" name="body98" value="<%= @cell.body98 %>"></p>
	<p>99：<input type="text" name="body99" value="<%= @cell.body99 %>"></p>
<input type="submit" value="編集完了">    
	
</form>

</body>
</html>

